@import url(//db.onlinewebfonts.com/c/0974a64f5d38ba18867b4cf659fa0df1?family=Fight+This);
@font-face {font-family: "Fight This"; src: url("//db.onlinewebfonts.com/t/0974a64f5d38ba18867b4cf659fa0df1.eot"); src: url("//db.onlinewebfonts.com/t/0974a64f5d38ba18867b4cf659fa0df1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0974a64f5d38ba18867b4cf659fa0df1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0974a64f5d38ba18867b4cf659fa0df1.woff") format("woff"), url("//db.onlinewebfonts.com/t/0974a64f5d38ba18867b4cf659fa0df1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0974a64f5d38ba18867b4cf659fa0df1.svg#Fight This") format("svg"); }
body {
  margin: 0;
  font-family: 'Fight this'!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
  color: #FFFFFF;
}

code {
  font-family: 'Fight this'!important;
}